.footer{
  
  font-size: 1.5rem;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8f8c8c;
   background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.76));
  background-color: #0e317788;
}


.footer div{
  padding: .5rem;
}